# Default ignored files
/shelf/
/workspace.xml
# Android
*.apk
*.ap_
*.dex
*.class
*.dex
*.pro
*.sbt
*.log
*.idea
.idea/
.gradle/
local.properties
/captures/
/crashlytics.properties
/generated/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures/
.externalNativeBuild
/*.log
/build/
*.apk
*.ap_
*.class
*.dex
*.o
*.so
*.log
*.tar.gz
*.zip
/captures/
/crashlytics.properties
/google-services.json # Exclude your google-services.json file